In [1]:
import pandas as pd

## Load Dataset

In [2]:
train = pd.read_csv("/Users/Joohyung/Desktop/kaggle/train.csv", index_col="PassengerId")
print(train.shape)
train.head()

(891, 11)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test = pd.read_csv("/Users/Joohyung/Desktop/kaggle/test.csv", index_col="PassengerId")
print(test.shape)
test.head()

(418, 10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Preprocessing

### Encode Sex

In [4]:
train.loc[train["Sex"] == "male", "Sex_encode"] = 0
train.loc[train["Sex"] == "female", "Sex_encode"] = 1

print(train.shape)
train[["Sex", "Sex_encode"]].head()

(891, 12)

                Sex  Sex_encode
PassengerId
1              male         0.0
2            female         1.0
3            female         1.0
4            female         1.0
5              male         0.0

In [5]:
test.loc[test["Sex"] == "male", "Sex_encode"] = 0
test.loc[test["Sex"] == "female", "Sex_encode"] = 1

print(test.shape)
test[["Sex", "Sex_encode"]].head()

(418, 11)

                Sex  Sex_encode
PassengerId
892            male         0.0
893          female         1.0
894            male         0.0
895            male         0.0
896          female         1.0

## Fill in missing fare

In [6]:
mean_fare = train["Fare"].mean()
test.loc[test["Fare"].isnull(), "Fare"] = mean_fare
test[test["Fare"].isnull()]

Empty DataFrame
Columns: [Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Sex_encode]
Index: []

## Encode Embarked

In [7]:
train_embarked = pd.get_dummies(train["Embarked"], prefix = "Embarked")
print(train_embarked.shape)
train_embarked.head()

(891, 3)

             Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                     0           0           1
2                     1           0           0
3                     0           0           1
4                     0           0           1
5                     0           0           1

In [8]:
test_embarked = pd.get_dummies(test["Embarked"], prefix="Embarked")
print(test_embarked.shape)
test_embarked.head()

(418, 3)

             Embarked_C  Embarked_Q  Embarked_S
PassengerId
892                   0           1           0
893                   0           0           1
894                   0           1           0
895                   0           0           1
896                   0           0           1

In [9]:
train = pd.concat([train,train_embarked], axis=1)
test = pd.concat([test,test_embarked], axis = 1)

## Train

In [10]:
feature_names=["Pclass", "Sex_encode", "Fare", "Embarked_C", "Embarked_S", "Embarked_Q"]
x_train = train[feature_names]
print(x_train.shape)
x_train.head()

(891, 6)

             Pclass  Sex_encode     Fare  Embarked_C  Embarked_S  Embarked_Q
PassengerId
1                 3         0.0   7.2500           0           1           0
2                 1         1.0  71.2833           1           0           0
3                 3         1.0   7.9250           0           1           0
4                 1         1.0  53.1000           0           1           0
5                 3         0.0   8.0500           0           1           0

In [11]:
label_name = "Survived"
y_train = train[label_name]
print(y_train.shape)
y_train.head()

(891,)

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Survived, dtype: int64

In [12]:
x_test = test[feature_names]
print(x_test.shape)
x_test.head()

(418, 6)

             Pclass  Sex_encode     Fare  Embarked_C  Embarked_S  Embarked_Q
PassengerId
892               3         0.0   7.8292           0           0           1
893               3         1.0   7.0000           0           1           0
894               2         0.0   9.6875           0           0           1
895               3         0.0   8.6625           0           1           0
896               3         1.0  12.2875           0           1           0

In [14]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=5)
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [15]:
model.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [17]:
predictions = model.predict(x_test)

In [19]:
submission = pd.read_csv("/Users/Joohyung/Desktop/kaggle/gender_submission.csv", index_col="PassengerId")
submission["Survived"] = predictions

print(submission.shape)
submission.head()

(418, 1)

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1

In [20]:
submission.to_csv("/Users/Joohyung/Desktop/kaggle/trial_1.csv")